.card.position-relative {
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .text-overlay {
    color: white;
    width: 80%;
  }
  
  .text-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  